<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"]</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/lib/template/css/base.css" />
    <link rel="stylesheet" href="~/lib/template/css/skeleton.css" />
    <link rel="stylesheet" href="~/lib/template/css/layout.css" />
    <link rel="stylesheet" href="~/lib/template/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/template/css/settings.css" />
    <link rel="stylesheet" href="~/lib/template/css/jquery.fancybox.css" />
    <link rel="stylesheet" href="~/lib/template/css/flat_filled_styles.css"><!--SVG Animation Styles-->
    <link rel="stylesheet" href="~/lib/template/css/retina.css" />                               

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/lib/template/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="~/lib/template/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/lib/template/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/lib/template/favicon/apple-touch-icon-114x114.png">

    @RenderSection("CSS", required: false)
</head>
<body class="royal_loader">

    @RenderBody()

    <div id="footer">
        <a class="scroll" href="#home"><div class="back-top">&#xf102;</div></a>
        <div class="container">
            <div class="sixteen columns">
                <p class="text-white"><small>YIA - Your Insurance Anywhere - 2021</small></p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/template/js/jquery.js"></script>
    <script type="text/javascript" src="~/lib/template/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/lib/template/js/royal_preloader.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JAVASCRIPT
    ================================================== -->
    <script type="text/javascript">
        (function ($) {
            "use strict";
            Royal_Preloader.config({
                mode: 'text', // 'number', "text" or "logo"
                text: 'YIA - Your Insurance Anywhere',
                timeout: 0,
                showInfo: true,
                opacity: 1,
                background: ['#292929']
            });
        })(jQuery);
    </script>
    <script type="text/javascript" src="~/lib/template/js/classie.js"></script>
    <script type="text/javascript" src="~/lib/template/js/cbpAnimatedHeader.min.js"></script>
    <script type="text/javascript" src="~/lib/template/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/lib/template/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            "use strict";
            var revapi;

            jQuery(document).ready(function () {

                revapi = jQuery('.tp-banner').revolution(
                    {
                        delay: 5000,
                        startwidth: 2000,
                        startheight: 500,
                        soloArrowRightVOffset: 50,
                        soloArrowLeftVOffset: 50,
                        hideThumbs: 0,
                        onHoverStop: "off",
                        navigationType: "none",
                        fullWidth: "off",
                        fullScreen: "on",
                        fullScreenOffsetContainer: ""
                    });

            });	//ready
        })(jQuery);

    </script>
    <script type="text/javascript" src="~/lib/template/js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="~/lib/template/js/jquery.easing.js"></script>
    <script type="text/javascript" src="~/lib/template/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/lib/template/js/tiltSlider.js"></script>

    <script type="text/javascript" src="~/lib/template/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/lib/template/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="~/lib/template/js/jquery.scrollTo-1.4.2-min.js"></script>
    <script type="text/javascript" src="~/lib/template/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/lib/template/js/svg_inject_flat_icons_filled.js"></script><!--Inject SVG and Toggle CSS Styles-->
    <script type="text/javascript" src="~/lib/template/js/contact.js"></script>
    <!-- jquery-inputmask -->
    <script src="../plugins/jquery-inputmask/jquery.inputmask.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.inputmask.date.extensions.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.inputmask.numeric.extensions.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.inputmask.phone.extensions.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.inputmask.regex.extensions.js"></script>
    <script src="../plugins/jquery-inputmask/jquery.mask.min.js"></script>
    <!-- InputMask -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWXQ_JwhPCAgoS4iZYzhkTimvrNGZLnBo"></script>

    <script type="text/javascript" src="~/lib/template/js/plugins.js"></script>
    <script type="text/javascript" src="~/lib/template/js/template.js"></script>
    <!-- End Document
    ================================================== -->
    @RenderSection("Scripts", required: false)
</body>
</html>
