@*@page "{url?}"*@
@page
@model CRMYIA.Web.Pages.BannersModel
@{
    ViewData["Title"] = "Banners";
    ViewData["Pagina"] = "Download de Banners";
}
@using CRMYIA.Business.Util;
@{ string nomeCaminho = "";}

<span style="font-family: 'Montserrat', cursive;">&nbsp;</span>
<div id="campanhas">

   
</div>
                                                                                                