@page
@model CRMYIA.Web.Pages.BannersDeOperadora
@{
    ViewData["Title"] = "Banners De Operadora";
    ViewData["Pagina"] = "Download";
}
@using CRMYIA.Business.Util;
@{ string redeSocial = "";}
@{ string nomeRede = "";}
@{ string idOperadora = "";}
@{ string multi = "";}
@{ string accordion = "";}
@{ string fontawesome = "";}
@{ int i = 0;}

<div id="banner-operadora">
        
</div>                                                                                                              