@*@page "{url?}"*@
@page
@model CRMYIA.Web.Pages.MaterialDivulgacaoModel
@{
    ViewData["Title"] = "Material De Divulgação";
    ViewData["Pagina"] = "Marketing";
}
@using CRMYIA.Business.Util;
<div id="campanhas">

   
</div>
