@page
@model CRMYIA.Web.Pages.TarefaModel
@{
    ViewData["Title"] = "Lista de Tarefas";
    ViewData["Pagina"] = "Tarefas";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <form method="post">
        <div class="card-body">
            <div class="row">
                <div class="task-board">
                    @if (Model.ListFaseProposta != null)
                    {
                        foreach (var Item in Model.ListFaseProposta)
                        {
                            <div class="status-card">
                                <div class="card-header">
                                    <span class="card-header-text">@Item.Descricao</span>
                                </div>
                                <ul class="sortable ui-sortable">
                                    <li class="text-row ui-sortable-handle">Proposta 1</li>
                                    <li class="text-row ui-sortable-handle">Proposta 2</li>
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </form>
</div>