@page
@model CRMYIA.Web.Pages.TarefaModel
@{
    ViewData["Title"] = "Lista de Tarefas";
    ViewData["Pagina"] = "Tarefas";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <form method="post">
        <div class="card-body">
            <div class="row">
                <div class="task-board">
                    <div class="status-card">
                        <div class="card-header">
                            <span class="card-header-text">Oportunidade (lead)</span>
                        </div>
                        <ul class="sortable ui-sortable">
                            <li class="text-row ui-sortable-handle">Tarefa 1</li>
                            <li class="text-row ui-sortable-handle">Tarefa 2</li>
                        </ul>
                    </div>
                    <div class="status-card">
                        <div class="card-header">
                            <span class="card-header-text">Cotação + Filtros</span>
                        </div>
                        <ul class="sortable ui-sortable">
                            <li class="text-row ui-sortable-handle">Tarefa 3</li>
                            <li class="text-row ui-sortable-handle">Tarefa 4</li>
                        </ul>
                    </div>
                    <div class="status-card">
                        <div class="card-header">
                            <span class="card-header-text">Visita/Apresentação/Reunião</span>
                        </div>
                        <ul class="sortable ui-sortable">
                            <li class="text-row ui-sortable-handle">Tarefa 5</li>
                        </ul>
                    </div>
                    <div class="status-card">
                        <div class="card-header">
                            <span class="card-header-text">Implantação / Documentação</span>
                        </div>
                        <ul class="sortable ui-sortable">
                            <li class="text-row ui-sortable-handle">Tarefa 6</li>
                            <li class="text-row ui-sortable-handle">Tarefa 7</li>
                        </ul>
                    </div>
                    <div class="status-card">
                        <div class="card-header">
                            <span class="card-header-text">Fechamento</span>
                        </div>
                        <ul class="sortable ui-sortable">
                            <li class="text-row ui-sortable-handle">Tarefa 8</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>