@page
@model CRMYIA.Web.Pages.Videos
@{
    ViewData["Title"] = "Videos";
    ViewData["Pagina"] = "Videos";
}
@using CRMYIA.Business.Util;

<div id="videos">

</div>                                                                                                                       